[Unit]
Description=Ten Flying Fingers

[Service]
Restart=always
RestartSec=3

ExecStart=/home/guettli/go/bin/tff combos /home/guettli/projects/tff/my-combos.yaml /dev/input/by-path/platform-i8042-serio-0-event-kbd /dev/input/by-id/usb-Lenovo_ThinkPad_Compact_USB_Keyboard_with_TrackPoint-event-kbd

[Install]
WantedBy=default.target
